NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
# generate with npx @better-auth/cli secret
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
