# Gitignore Copy
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
coverage/
server/coverage/
app-example
.wrangler/
/ios
/android
.claude/settings.local.json

# Server (Nitro) build artifacts
.nitro
.output
.cache
.data
.env

# Prettier specific ignores
pnpm-lock.yaml
.agents
assets
scripts
src/uniwind-types.d.ts
